@mixin margin {
  margin: 0 auto;
}
/* mix social media */
@mixin social-media($bg-color) {
  background-color: $bg-color;
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 10px 5px 10px 10px;
  width: 50px;
  height: 50px;
  transform: translateX();
  transition: all 1s ease;
  &:hover {
    width: 200px;
    transform: translateX(-200px);
  }
}

/* social media buttons */

@mixin before {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-family: "FontAwesome";
  font-weight: normal;
  margin: 0 10px 0 0;
  padding: 2px;
  text-align: center;
}

@mixin position {
  position: inherit;
  top: 10%;
  left: 0;
}
