@import "mixin";
@import "variables";
@import "media-query";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @include margin;
  background-color: $bg-color2;
  width: 90%;
}
main {
  width: 100%;
  height: auto;
}

header {
  text-align: center;
  margin-bottom: 50px;
}
h1 {
  margin-top: 20px;
  text-align: center;
}
.container {
  @include margin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*card */
.container-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  background-color: $bg-color2;
  width: 685px;
  height: 800px;
  text-align: center;

  img {
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.text {
  margin: 0;
  background: white;
  width: 96%;
  height: 500px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 10px 5px 5px rgb(148, 145, 145);

  p {
    padding: 40px 60px 10px 80px;
    font-family: $fontfam;
    font-size: 34px;
    line-height: 1.5em;
    font-weight: 600;
    word-spacing: 0.1em;
    text-align: left;
  }
}

.footer {
  margin: 0;
  width: 96%;
  height: 300px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: $bg-color;
  box-shadow: 10px 5px 5px rgb(148, 145, 145);

  h1 {
    padding-top: 100px;
    font-weight: 500;
    font-size: 2.5em;
    font-family: $fontfam;
    color: $textcolor-2;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-weight: 500;
    font-family: $fontfam;
    color: $textcolor-2;
    opacity: 0.5;
  }
}

/*social media */

.social-media-container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: fixed;
  top: 1%;
  left: 97%;
  z-index: 1;

  aside a {
    width: 100%;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    font-weight: normal;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: all 1s ease;
  }
  aside a:hover {
    opacity: 1;
  }
}
aside .blog::before {
  content: "\f5fc";
  @include before;

  aside .twitter::before {
    content: "\f099";
    @include before;
  }
  aside .linkedin::before {
    content: "\f0e1";
    @include before;
  }
  aside .facebook::before {
    content: "\f39e";
    @include before;
  }
  aside .github::before {
    content: "\f09b";
    @include before;
  }

  .blog {
    @include social-media(#e17b77);
  }
  .twitter {
    @include social-media(#00aced);
  }
}
.linkedin {
  @include social-media(#007bb6);
}
.facebook {
  @include social-media(#3b5998);
}
.github {
  @include social-media(#333);
}
/*portfolio */

.container-1 {
  width: 300px;
  height: 400px;
  position: relative;
  .btn {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: grey;
    transition: 1s ease;
    opacity: 0;
    text-align: center;
    button {
      margin-top: 50%;
      padding: 35px 50px;
      background: $bg-color;
      color: $textcolor-2;
      font: $fontfam;
    }
  }
  .foto-1 {
    width: 300px;
    height: 400px;
    opacity: 1;
    transition: 1s ease;
    backface-visibility: hidden;
    img {
      width: 300px;
      height: 400px;
      z-index: -1;
    }
  }
}

.container-1:hover .foto-1 {
  opacity: 0.2;
}

.container-1:hover .btn {
  opacity: 1;
}
.grid-container {
  margin: 20px auto;
  padding-bottom: 30px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  h1 {
    @include margin;
    padding: 20px auto;
    grid-column: 1 / -1;
    height: 50px;
    text-align: center;
    font-weight: 700;
  }
}

/* media query mobiel */
@media screen and (max-width: 600px) {
  @include mobile;
}
/*media query tablet*/
@media screen and (min-width: 601px) and (max-width: 1000px) {
  @include tablet;
}
